@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
  margin: 0px;
}

.main-inner {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.head-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 1060px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 44px;
  margin-bottom: 48px;
  gap: 8px;
}

.main-filter {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
}

.header-button {
  display: block;
  margin: 13px 0px 19px 18px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
  border-radius: 4px;
  border: none;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  min-width: 160px;
  min-height: 37px;
}

.btn-search {
  width: 575px;
  min-height: 60px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
  border-radius: 10px;
  padding: 0;
  border: none;
  padding-top: 3px;
}

.button-distribution {
  width: 200px;
  min-height: 61px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  padding: 0;
  border: none;
}

.distribution-write {
  padding: 0px 0px 0px 22px;
  margin: 0px 0px 0px 0px;
  font: inherit;
  width: 578px;
  min-height: 60px;
  background: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  border: none;
}

.distribution-write::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #000000;
  opacity: 0.6;
}

.distribution-write::-moz-placeholder {
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.6;
}

.distribution-write:-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  opacity: 0.6;
}

.distribution-write::-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  opacity: 0.6;
}

.distribution-write::placeholder {
  font-size: 18px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  opacity: 0.6;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.button-accept {
  width: 160px;
  min-height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  padding: 0;
  border: none;
}

.button-reset {
  width: 160px;
  min-height: 23px;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  padding-top: 21px;
}

.product-card-button {
  display: block;
  width: 133px;
  min-height: 37px;
  background: #756257;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.product-card-button-text {
  padding: 8px 0px 9px 0px;
  display: block;
  min-width: 135px;
}

.hotel-rating-pic {
  padding: 10px 0px;
}

.button-favorites {
  width: 141px;
  min-height: 37px;
  background: #83b3d3;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  border: none;
}

.button-favorites-current {
  background: #7db54f;
}

.hotel-rating {
  font-family: "PT Sans", sans-serif;
  width: 160px;
  min-height: 37px;
  background: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
  margin: 0;
  border: 0;
  padding-left: 9px;
  padding-bottom: 5px;
}

.button-load-more {
  width: 620px;
  min-height: 60px;
  background: #83b3d3;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  margin: 64px auto 60px auto;
  padding: 0;
  display: block;
}

.modal-search-btn {
  display: block;
  min-width: 575px;
  min-height: 60px;
  border: 0;
  background: #83b3d3;
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 0;
  margin: 0;
}

.modal-search-btn:hover {
  background: #68a2ca;
}

.modal-search-btn:focus {
  background: #68a2ca;
  outline: 3px solid #756257;
  border-radius: 10px;
}

.modal-search-btn:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.counter:focus-within .plus {
  outline: 3px solid #756257;
}

.button-load-more-container {
  position: relative;
}

.button-load-more::after {
  position: absolute;
  top: -30px;
  left: 2px;
  width: 1055px;
  min-height: 2px;
  background-color: #e6e6e6;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  content: "";
}

.button-load-more::before {
  position: absolute;
  top: 90px;
  left: 2px;
  width: 1055px;
  min-height: 2px;
  background-color: #e6e6e6;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  content: "";
}

.navigation-logo {
  line-height: 0;
}

.page-header-logo {
  margin-right: 30px;
  z-index: 100;
  position: relative;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-list-user {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.navigation {
  padding-left: 70px;
  padding-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
  min-height: 70px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation-list-menu .navigation-link {
  display: block;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 20px 21px 20px 15px;
  position: relative;
  max-width: 100px;
}

.navigation-list-menu .navigation-link:hover {
  color: #756257;
}

.navigation-list-menu .navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:active .circle-icon {
  fill: rgba(252, 252, 252, 0.3);
}

.header-button:hover {
  background: #615048;
}

.header-button:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.header-button:focus {
  outline: 3px solid #83b3d3;
}

.footer-number-nolink:hover {
  color: #756257;
}

.footer-number-nolink:active {
  color: #756257;
  opacity: 0.3;
}

.modal {
  position: relative;
  margin: auto;
  padding: 58px 70px 70px 70px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  min-width: 575px;
  min-height: 432px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 55px;
  right: 71px;
  width: 53px;
  min-height: 53px;
  background-color: #f2f2f2;
  border: none;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close-button:active {
  opacity: 0.3;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 1);
}

.modal-close-button:focus {
  background: #e6e6e6;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: 3px solid #83b3d3;
}

.counter-container-adults .btn-minus {
  position: relative;
  width: 25px;
  min-height: 25px;
  margin: 0;
  padding: 0;
  top: -41px;
  left: 13px;
  border: 0;
  background: #f2f2f2;
}

.counter-container-children .btn-minus {
  position: relative;
  width: 25px;
  min-height: 25px;
  margin: 0;
  padding: 0;
  top: -41px;
  left: 13px;
  border: 0;
  background: #f2f2f2;
}

.minus {
  position: absolute;
  top: 11px;
  left: 4px;
  z-index: 1;
}

.counter-container-adults .btn-plus {
  position: relative;
  width: 25px;
  min-height: 25px;
  margin: 0;
  padding: 0;
  top: -41px;
  left: 65px;
  border: 0;
  background: #f2f2f2;
}

.counter-container-children .btn-plus {
  position: relative;
  width: 25px;
  min-height: 25px;
  margin: 0;
  padding: 0;
  top: -41px;
  left: 65px;
  border: 0;
  background: #f2f2f2;
}

.plus {
  position: absolute;
  top: 4px;
  left: 5px;
}

.modal-close-button:hover {
  background: #e6e6e6;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.btn-minus:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.btn-plus:hover .plus-color {
  opacity: 1;
}

.btn-minus:hover .minus-color {
  opacity: 1;
}

.btn-plus:active .plus-color {
  opacity: 0.2;
}

.btn-minus:active .minus-color {
  opacity: 0.2;
}

.btn-plus:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.modal-title {
  min-height: 67px;
  margin: 0px 0px 36px 0px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.enter-date-field {
  display: block;
  min-width: 401px;
  margin: 0;
  padding: 0px 0px 0px 19px;
  background: #f2f2f2;
  border-radius: 4px;
  border: 0;
  min-height: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.enter-date-field::-webkit-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  opacity: 0.6;
}

.enter-date-field::-moz-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  opacity: 0.6;
}

.enter-date-field:-ms-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  opacity: 0.6;
}

.enter-date-field::-ms-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  opacity: 0.6;
}

.enter-date-field::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  opacity: 0.6;
}

.counter {
  display: block;
  width: 73px;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  border-radius: 4px;
  border: 0;
  min-height: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  position: relative;
  box-sizing: content-box;
  padding-left: 60px;
}

.counter::-webkit-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  opacity: 1;
}

.counter::-moz-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  opacity: 1;
}

.counter:-ms-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  opacity: 1;
  padding: 47%;
}

.counter::-ms-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  opacity: 1;
  padding: 47%;
}

.counter::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  opacity: 1;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/icons/toltip-arrow.svg");
  width: 19px;
  min-height: 6px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.field-group {
  position: relative;
  margin: 0;
}

.under-text {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  padding-left: 0;
  width: 420px;
  position: relative;
  top: -5px;
}

.field-group .calendar {
  position: absolute;
  top: 18px;
  left: 540px;
}

.enter-date {
  padding: 6px 0px 0px 0px;
  margin: 0;
  display: block;
  float: left;
  width: 155px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  min-height: 50px;
}

.form-label {
  position: relative;
  padding-right: 54px;
}

.tooltip {
  position: absolute;
  margin-top: -31px;
  margin-left: 54px;
  width: 25px;
  min-height: 25px;
}

.field-group-count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  margin-bottom: 11px;
}

.field-group-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field-group-adults {
  margin: 0;
  padding: 6px 0px 0px 0px;
  display: block;
  float: left;
  width: 155px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.field-group-children {
  margin: 0;
  padding: 6px 0px 0px 0px;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.footer-number-nolink:focus {
  outline: 3px solid #83b3d3;
  border-radius: 2px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.enter-date-field:hover {
  background: #e6e6e6;
}

.enter-date-field:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  background: #e6e6e6;
}

.enter-date-field:active {
  outline: 2px solid #000000;
  border-radius: 4px;
  background: #ffffff;
}

.enter-date-field:invalid + .under-text-error {
  color: red;
}

.under-text-error {
  color: #ff5757;
}

.tooltip-icon {
  width: 100%;
  min-height: 100%;
  color: #242424;
  display: block;
}

.tooltip-text {
  font-family: "PT Sans", sans-serif;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 19px 16px 22px 22px;
  border-radius: 10px;
  min-width: 218px;
  position: absolute;
  margin-top: 15px;
  -webkit-transform: translateX(-44.5%);
  -ms-transform: translateX(-44.5%);
  transform: translateX(-44.5%);
  z-index: 1;
  display: none;
  min-height: 102px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.btn-search:hover {
  background: #615048;
}

.btn-search:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.btn-search:focus {
  outline: 3px solid #83b3d3;
}

.distribution-write:hover {
  background: #e6e6e6;
}

.distribution-write:invalid {
  outline: 2px solid #ff5757;
}

.distribution-write:focus {
  outline: 3px solid #83b3d3;
  background: #e6e6e6;
}

.button-distribution:hover {
  background: #68a2ca;
}

.button-distribution:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.button-distribution:focus {
  outline: 3px solid #756257;
}

.button-social:hover .social-icon {
  fill: #68a2ca;
}

.button-social:active .social-icon {
  fill: #68a2ca;
  opacity: 0.3;
}

.button-social:focus {
  outline: 3px solid #83b3d3;
  border-radius: 3px;
}

.footer-html-academy-pic:hover .html-academy-pic {
  fill: #756257;
}

.footer-html-academy-pic:focus {
  fill: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-html-academy-pic:active .html-academy-pic {
  fill: #756257;
  opacity: 0.3;
}

.range-scale {
  position: relative;
  min-height: 4px;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  width: 277px;
}

.range-bar {
  position: absolute;
  min-height: 4px;
  background-color: #ffffff;
  left: 0;
  right: 41px;
  width: 227px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  min-height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}

.button-search {
  border: 2px solid #e6e6e6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  width: 48px;
  min-height: 48px;
  position: relative;
  top: -5px;
  left: -3px;
}

.button-search-current {
  border: 2px solid #000000;
}

.button-search-svg {
  position: relative;
  top: 12px;
  left: 15px;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: 1px;
}

.range-toggle:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active,
.range-toggle:focus {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
}

.range {
  position: relative;
  left: 10px;
}

.navigation-list-user .navigation-item-icon {
  display: block;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 24px 18px 20px 8px;
  position: relative;
  min-width: 18px;
  min-height: 18px;
}

.main-index-picture-divider {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  bottom: 0;
}

.navigation-list-menu .navigation-link-current {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-color: #756257;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 22px;
}

.main-index-picture {
  background-image: url("../images/largepic/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  bottom: 5px;
  z-index: 0;
  background-color: #000000;
}

.advantage-intro {
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-top: 61px;
  margin-bottom: 31px;
  margin-left: 0px;
  margin-right: 0px;
}

.advantage-reasons {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin: 0 0 80px 0;
  padding: 0;
}

.advantage-item-blue-gray {
  min-height: 384px;
  width: 400px;
}

.advantage {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 384px;
  text-align: center;
}

.pic-advantage-1 {
  margin: 0;
  width: 800px;
}

.pic-advantage-2 {
  width: 800px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.advantage-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 400px;
  background-color: #83b3d3;
  color: #ffffff;
  padding-top: 97px;
  padding-bottom: 89px;
}

.advantage-item-3-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 97px;
  padding-bottom: 107px;
  min-height: 179px;
  gap: 29px;
}

.advantage-description {
  margin: 0;
  padding: 0;
}

.advantage-item-with-pic .advantage-title {
  margin-bottom: 20px;
}

.advantage-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.advantage-title-white {
  color: #ffffff;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 45px;
  padding-bottom: 49px;
  -webkit-column-gap: 23px;
  -moz-column-gap: 23px;
  column-gap: 23px;
}

.advantage-item-dark-grey {
  min-height: 384px;
  width: 400px;
}

.advantage-item-white {
  width: 400px;
}

.advantage-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantage-item-dark-grey {
  background: rgba(131, 179, 211, 0.12);
}

.advantage-item-white-grey {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
}

.advantage-item-blue-gray {
  background: rgba(131, 179, 211, 0.2);
}

.search {
  width: 720px;
  min-height: 233px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 90px 240px 93px 240px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.search-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.search-text {
  margin: 0;
  padding-top: 28px;
  font-size: 22px;
  line-height: 26px;
}

.search-text-second-string {
  margin: 0;
  padding: 0px 18px 56px 0px;
  font-size: 22px;
  line-height: 26px;
}

.advantage-title-pic {
  margin-top: 0;
  margin-bottom: 23px;
  margin-left: auto;
  margin-right: auto;
}

.footer-distribution {
  margin: 0 auto;
  width: 1200px;
  min-height: 411px;
  text-align: center;
  background-image: url("../images/footer/background-footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
}

.advantage-item-with-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 89px;
  padding-bottom: 79px;
  min-height: 216px;
}

.distribution-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.distribution-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 130px;
}

.page-footer-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
  -ms-flex-line-pack: center;
  align-content: center;
  padding-left: 70px;
  padding-right: 70px;
}

.shadow {
  min-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
  box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
}

.distribution-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  padding-top: 29px;
  padding-bottom: 45px;
}

.footer-html-academy {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  line-height: 0;
}

.footer-html-academy-picture {
  display: block;
}

.footer-html-academy-pic {
  display: block;
  margin: 27px 0px 29px 0px;
  padding: 12px 10px 10px 10px;
  position: relative;
  left: 8px;
}

.advantage-number {
  margin: 0;
  font-style: normal;
}

.social-icon-svg {
  padding: 3px;
}

.footer-number {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 240px;
  min-height: 50px;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.button-social {
  display: block;
  line-height: 0;
}

.footer-social-item {
  list-style-type: none;
  line-height: 0;
  display: block;
}

.navigation-icon {
  position: absolute;
  top: -5px;
  right: 0px;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-item {
  list-style-type: none;
}

.breadcrumbs-link {
  display: block;
  padding: 0px 3px 0px 3px;
}

.breadcrumbs-link-svg:hover {
  opacity: 0.6;
}

.breadcrumbs-link-svg:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 3px;
}

.control-mark:focus-within {
  outline: 3px solid #83b3d3;
  border-radius: 3px;
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
  border-radius: 3px;
}

.control-input[type="radio"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:active {
  opacity: 0.3;
}

.control-mark:hover {
  opacity: 0.6;
}

.control-mark:active {
  opacity: 0.3;
}

.control-label:hover {
  opacity: 0.6;
}

.control-label:active {
  opacity: 0.3;
}

.button-accept:focus {
  outline: 3px solid #ffffff;
  background: #68a2ca;
}

.button-accept:hover {
  background: #68a2ca;
}

.button-accept:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:focus {
  outline: 3px solid #68a2ca;
  border-radius: 3px;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.range-toggle:focus {
  outline: 3px solid #68a2ca;
  border-radius: 3px;
}

.range-toggle:hover {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:active {
  outline: 3px solid #68a2ca;
  border-radius: 3px;
}

.catalog-price-first:focus {
  outline: 3px solid #68a2ca;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 0px 3px #81b3d2;
  box-shadow: 0px 0px 0px 3px #81b3d2;
  border-radius: 4px 0px 0px 4px;
}

.catalog-price-second:focus {
  outline: 3px solid #68a2ca;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 0px 3px #81b3d2;
  box-shadow: 0px 0px 0px 3px #81b3d2;
  border-radius: 0px 4px 4px 0px;
}

.catalog-price-second:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-left-width: 0;
}

.catalog-price-first:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-right-width: 0;
}

.pagination-link:hover {
  background: #68a2ca;
}

.pagination-link:focus {
  outline: 3px solid #756257;
  background: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background: #68a2ca;
}

.button-load-more:hover {
  background: #68a2ca;
}

.button-load-more:active {
  color: rgba(255, 255, 255, 0.3);
  background: #68a2ca;
}

.button-load-more:focus {
  outline: 3px solid #756257;
  background: #68a2ca;
}

.pagination-current:focus {
  outline: 3px solid #756257;
  background: #68a2ca;
}

.catalog-price:active {
  background: #756257;
}

.select-control-1:focus {
  outline: 0;
  border: 2px solid #83b3d3;
}

.select-control-1:hover {
  outline: 0;
  border: 2px solid #83b3d3;
}

.select-control-1:active {
  opacity: 0.3;
}

.select-control-2:focus {
  outline: 0;
  border: 2px solid #83b3d3;
}

.select-control-2:hover {
  outline: 0;
  border: 2px solid #83b3d3;
}

.select-control-2:active {
  opacity: 0.3;
}

.button-search:focus {
  outline: 0;
  border: 2px solid #83b3d3;
}

.button-search:hover {
  outline: 0;
  border: 2px solid #83b3d3;
}

.breadcrumbs-item {
  list-style-type: none;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  font-size: 16px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.inner-header-title {
  padding-top: 35px;
  margin: 0px 0 0px 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  display: block;
}

.main-inner-filter {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  min-height: 408px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/largepic/catalog-background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
  bottom: 5px;
  z-index: 0;
}

.catalog-filter-title {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.control {
  position: relative;
  display: block;
  padding-left: 41px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  min-height: 20px;
  background: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 12px;
  min-height: 2px;
  background-color: #000000;
  content: "";
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 11px;
  left: 3px;
  width: 6px;
  min-height: 2px;
  background-color: #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.counter-container {
  position: relative;
}

.tultil {
  position: absolute;
  top: 13px;
  left: -41px;
  z-index: 1;
}

.catalog-price {
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  width: 143px;
  min-height: 48px;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  -moz-appearance: textfield;
}

.catalog-price-first {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-right: none;
  padding: 14px 5px 8px 17px;
}

.catalog-price-first::-webkit-input-placeholder {
  padding-left: 93px;
  padding-bottom: 5px;
}

.catalog-price-first::-moz-placeholder {
  padding-left: 93px;
  padding-bottom: 5px;
}

.catalog-price-first:-ms-input-placeholder {
  padding-left: 93px;
  padding-bottom: 5px;
}

.catalog-price-first::-ms-input-placeholder {
  padding-left: 93px;
  padding-bottom: 5px;
}

.catalog-price-first::placeholder {
  padding-left: 93px;
  padding-bottom: 5px;
}

.catalog-price-second::-webkit-input-placeholder {
  padding-left: 93px;
  padding-bottom: 5px;
}

.catalog-price-second::-moz-placeholder {
  padding-left: 93px;
  padding-bottom: 5px;
}

.catalog-price-second:-ms-input-placeholder {
  padding-left: 93px;
  padding-bottom: 5px;
}

.catalog-price-second::-ms-input-placeholder {
  padding-left: 93px;
  padding-bottom: 5px;
}

.catalog-price-second::placeholder {
  padding-left: 93px;
  padding-bottom: 5px;
}

.catalog-price-second::-webkit-input-placeholder {
  padding-left: 93px;
  padding-bottom: 5px;
}

.catalog-price[type="number"]::-webkit-outer-spin-button,
.catalog-price[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.catalog-price-second {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-left: none;
  padding: 14px 5px 8px 17px;
}

.catalog-filter-price::after {
  position: absolute;
  top: 23px;
  left: 120px;
  width: 47px;
  min-height: 2px;
  background-color: rgb(255, 255, 255);
  content: "";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.hotel-counter {
  margin-right: 184px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.select-control-1 {
  margin-right: 75px;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  width: 287px;
  min-height: 48px;
  border: 2px solid #e6e6e6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  top: -4px;
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  padding-left: 14px;
  padding-bottom: 6px;
}

.hotel-card {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 226px 16px -webkit-min-content 16px -webkit-min-content 16px -webkit-min-content
    16px 37px 16px 4px;
  -ms-grid-rows: 226px 16px min-content 16px min-content 16px min-content 16px
    37px 16px 4px;
  grid-template-rows: 226px -webkit-min-content -webkit-min-content -webkit-min-content 37px 4px;
  grid-template-rows: 226px min-content min-content min-content 37px 4px;
  -ms-grid-columns: 21px 300px 20px;
  grid-template-columns: 21px 300px 20px;
  row-gap: 16px;
}

.hotel-card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.hotel-card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.hotel-card > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.hotel-card > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.hotel-card > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.hotel-card > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.hotel-card > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.hotel-card > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.hotel-card > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.hotel-card > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.hotel-card > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}

.hotel-card > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.hotel-card > *:nth-child(13) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.hotel-card > *:nth-child(14) {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
}

.hotel-card > *:nth-child(15) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.hotel-card > *:nth-child(16) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.hotel-card > *:nth-child(17) {
  -ms-grid-row: 11;
  -ms-grid-column: 2;
}

.hotel-card > *:nth-child(18) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

.hotel-card-link {
  padding-top: 20px;
  text-decoration: none;
  grid-column: 2/-2;
}

.hotel-card-image {
  display: block;
}

.hotel-card-title {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}

.product-card-type {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  padding-right: 58px;
}

.pagination-link {
  display: block;
  min-width: 55.5px;
  min-height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-link-number {
  padding: 15px 13px 14px 18px;
  display: block;
}

.pagination-container-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pagination-current {
  color: #000000;
  background: #f2f2f2;
}

.hotel-on-page {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  padding-right: 2px;
  padding-top: 4px;
  max-width: 400px;
  margin-left: auto;
}

.hotel-on-page-text {
  padding: 0px 47px 0px 0px;
  max-width: 200px;
  margin-left: auto;
}

.select-control-2 {
  width: 160px;
  height: 48px;
  border: 2px solid #e6e6e6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  padding-left: 11px;
  padding-bottom: 6px;
}

.footer-distribution-container {
  padding: 93px 200px 93px 200px;
}

.footer-distribution-catalog {
  margin: 0 auto;
  text-align: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 223px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 73px;
  padding-bottom: 140px;
  gap: 46px;
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
}

.distribution-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
}

.distribution-text-catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
}

.control-label {
  line-height: 26px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  min-height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.footer-number-nolink {
  color: #000000;
  text-decoration: none;
  padding: 15px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  position: relative;
  top: -6px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
}

.hotel-cards-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 19px 340px 19px 340px;
  grid-template-columns: repeat(3, 340px);
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 9px 19px;
}

.logo {
  padding-top: 51px;
  padding-bottom: 81px;
  display: block;
  margin: 0 auto;
}

.present {
  padding-top: 83px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  min-height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-filter-group {
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  margin: 0;
  border: 0;
  padding: 0;
  inline-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.catalog-filter-group-3 .catalog-filter-group {
  padding: 0px 33px 0px 0px;
}

.catalog-filter {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-filter-group-4 {
  margin-top: 60px;
  min-height: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-filter-group-1 .catalog-filter-group {
  min-height: 151px;
}

.catalog-filter-group-1 .catalog-filter-title {
  margin-bottom: 29px;
}

.catalog-filter-group-2 .catalog-filter-group {
  min-height: 151px;
  width: 140px;
  margin-right: 116px;
  padding-left: 17px;
}

.catalog-filter-group-2 .catalog-filter-title {
  margin-bottom: 29px;
}

.catalog-filter-group-3 .catalog-filter-title {
  margin-bottom: 34px;
}

.catalog-filter-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.product-card-type-string-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
}

.product-card-type-string-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-card-type-string-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hotel-card-title,
.product-card-type-string-1,
.product-card-type-string-2,
.product-card-type-string-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.pagination-current:focus {
  outline: 3px solid #756257;
  background: #68a2ca;
}

.hotel-card-image:hover {
  opacity: 0.6;
}

.hotel-card-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 3px;
}

.hotel-card-image:active {
  opacity: 0.3;
}

.product-card-button:hover {
  background: #615048;
}

.product-card-button:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button:focus {
  outline: 3px solid #83b3d3;
  border-radius: 3px;
  background: #615048;
}

.button-favorites:hover {
  background: #68a2ca;
}

.button-favorites:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites:focus {
  outline: 3px solid #756257;
  border-radius: 3px;
  background: #68a2ca;
}

.button-favorites-current:hover {
  background: #6c9e42;
}

.button-favorites-current:active {
  background: #6c9e42;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites-current:focus {
  outline: 3px solid #756257;
  border-radius: 3px;
  background: #6c9e42;
}
