@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #333333;
  margin: 0px;
}

.main-inner {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.head-filter {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 1060px;
  flex-wrap: wrap;
  margin-top: 44px;
  margin-bottom: 48px;
}

.main-filter {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
}

.header-button {
  display: block;
  margin: 13px 0px 19px 18px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
  border-radius: 4px;
  border: none;
  padding-top: 12px;
  padding-bottom: 6px;
  padding-left: 34px;
  padding-right: 22px;
}

.btn-search {
  width: 575px;
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
  border-radius: 10px;
  padding: 0;
  border: none;
}

.button-distribution {
  width: 200px;
  height: 61px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  padding: 0;
  border: none;
}

.distribution-write {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font: inherit;
  width: 600px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  border: none;
}


::placeholder {
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  opacity: 0.6;
  padding-left: 22px;
}

.button-accept {
  width: 160px;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #83B3D3;
  border-radius: 4px;
  padding: 0;
  border: none;
}

.button-reset {
  width: 160px;
  height: 23px;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
}

.product-card-button {
  display: block;
  width: 133px;
  height: 37px;
  background: #756257;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.product-card-button-text {
  padding: 9px 0px;
  display: block;
}

.hotel-rating-pic {
  padding: 10px 0px;
}

.button-favorites {
  width: 141px;
  height: 37px;
  background: #83B3D3;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  border: none;
  padding: 0px 0px 0px 0px;
}

.hotel-rating {
  width: 160px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
  margin: 0;
  border: 0;
}

.button-load-more {
  width: 620px;
  height: 60px;
  background: #83B3D3;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  margin: 64px auto 60px auto;
  padding: 0;
  display: block;
}

.modal-search-btn {
  display: block;
  width: 575px;
  height: 60px;
  border: 0;
  background: #83B3D3;
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.button-load-more-container {
  position: relative;
}


.button-load-more::after {
  position: absolute;
  top: -30px;
  left: 2px;
  width: 1055px;
  height: 2px;
  background-color: #E6E6E6;
  transform: rotate(180deg);
  content: "";

}

.button-load-more::before {
  position: absolute;
  top: 90px;
  left: 2px;
  width: 1055px;
  height: 2px;
  background-color: #E6E6E6;
  transform: rotate(180deg);
  content: "";
}

.navigation-logo {
  line-height: 0;
}

.page-header-logo {
  margin-right: 30px;
  z-index: 100;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-list-user {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 0;
}

.navigation {
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  width: 1060px;
  height: 70px;
  margin: 0 auto;
  justify-content: space-between;

}

.navigation-list-menu .navigation-link {
  display: block;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  padding: 22px 6px 20px 15px;
  position: relative;
}

.navigation-list-menu .navigation-link:hover {
  color: #756257;
}

.navigation-list-menu .navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
  ;
}

.navigation-link:active .circle-icon {
  fill: rgba(252, 252, 252, 0.3);
}

.header-button:hover {
  background: #615048;
}

.header-button:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.header-button:focus {
  outline: 3px solid #83B3D3;
}

.footer-number-nolink:hover {
  color: #756257;
}


.footer-number-nolink:active {
  color: #756257;
  opacity: 0.3;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 575px;
  height: 429px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}

.modal-title {
  height: 67px;
  margin: 0px 0px 32px 0px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.enter-date-field {
  display: block;
  width: 420px;
  margin: 0;
  padding: 0px 0px 0px 0px;
  background: #F2F2F2;
  border-radius: 4px;
  border: 0;
  height: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.enter-date-field::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  opacity: 1;
}

.counter {
  display: block;
  width: 133px;
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  border-radius: 4px;
  border: 0;
  height: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  position: relative;
}

.counter::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  opacity: 1;
  padding: 50%;
}

.field-group {
  position: relative;
}

.under-text {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  padding-left: 155px;
  width: 420px;
}

.under-text-error {
  color: #FF5757;
}

.field-group .calendar {
  position: absolute;
  top: 15px;
  left: 551px;
}

.enter-date {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: block;
  float: left;
  width: 155px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  height: 50px;
}


.field-group-count-container {
  display: flex;
  gap: 56px;
  margin-bottom: 40px;
}

.field-group-count {
  display: flex;
}

.field-group-adults {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 155px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  height: 50px;
}

.field-group-childs {
  margin: 0;
  padding: 0;
  display: block;
  width: 97px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  height: 50px;
}

.footer-number-nolink:focus {
  outline: 3px solid #83B3D3;
  border-radius: 2px;
}


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.btn-search:hover {
  background: #615048;
}

.btn-search:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.btn-search:focus {
  outline: 3px solid #83B3D3;

}

.distribution-write:hover {
  background: #E6E6E6;
}

.distribution-write:invalid {
  outline: 2px solid #FF5757;
}

.distribution-write:focus {
  outline: 3px solid #83B3D3;
  background: #E6E6E6;
}

.button-distribution:hover {
  background: #68A2CA;
}

.button-distribution:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.button-distribution:focus {
  outline: 3px solid #756257;
}

.button-social:hover .social-icon {
  fill: #68A2CA;
}

.button-social:active .social-icon {
  fill: #68A2CA;
  opacity: 0.3;
}

.button-social:focus {
  outline: 3px solid #83B3D3;
  border-radius: 3px;
}

.footer-html-academy-pic:hover .html-academy-pic {
  fill: #756257;
}

.footer-html-academy-pic:focus {
  fill: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-html-academy-pic:active .html-academy-pic {
  fill: #756257;
  opacity: 0.3;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  width: 277px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  left: 0;
  right: 41px;
  width: 227px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}

.button-search {
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  position: relative;
  top: -5px;
  left: -3px;
}

.button-search-svg {
  position: relative;
  top: 13px;
  left: 13px;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: 1px;
}

.range-toggle:hover {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active,
.range-toggle:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
}


.range {
  position: relative;
  left: 10px;
}

.navigation-list-user .navigation-item-icon {
  display: block;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  padding: 24px 18px 20px 8px;
  position: relative;
  min-width: 18px;
  min-height: 18px;
}

.main-index-picture-divider {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  bottom: 0%;
}

.navigation-list-menu .navigation-link-current {
  text-decoration-line: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
}

.main-index-picture {
  background-image: url("../images/largepic/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  bottom: 5px;
  z-index: 0;
}

.advantage-intro {
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-top: 61px;
  margin-bottom: 31px;
  margin-left: 0px;
  margin-right: 0px;
}

.advantage-reasons {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin: 0 0 80px 0;
  padding: 0;
}

.advantage-item-blue-gray {
  height: 384px;
  width: 400px;
}

.advantage {
  width: 1200px;
  display: flex;
  margin: 0;
  padding: 0;
  height: 384px;
  text-align: center;
}

.pic-advantage-1 {
  margin: 0;
  width: 800px;
}

.pic-advantage-2 {
  width: 800px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.advantage-blue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  background-color: #83B3D3;
  color: #FFFFFF;
  padding-top: 97px;
  padding-bottom: 87px;
}

.advantage-item-3-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 97px;
  padding-bottom: 108px;
  height: 179px;
}

.advantage-description {
  margin: 0;
  padding: 0;
}

.advantage-item-with-pic .advantage-title {
  margin-bottom: 20px;
}

.advantage-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.advantage-title-white {
  color: #FFFFFF;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 45px;
  padding-bottom: 49px;
  column-gap: 22px;
}

.advantage-item-dark-grey {
  height: 384px;
  width: 400px;
}

.advantage-item-white {
  width: 400px;
}

.advantage-list {
  text-align: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-item-dark-grey {
  background: rgba(131, 179, 211, 0.12);
}

.advantage-item-white-grey {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
}

.advantage-item-blue-gray {
  background: rgba(131, 179, 211, 0.2);

}

.search {
  width: 720px;
  height: 233px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 91px 240px 93px 240px;
  justify-content: start;
}

.search-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.search-text {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
}

.advantage-title-pic {
  margin-top: 0;
  margin-bottom: 23px;
  margin-left: auto;
  margin-right: auto;
}

.footer-distribution {
  margin: 0 auto;
  width: 1200px;
  height: 411px;
  text-align: center;
  background-image: url("../images/footer/background-footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.advantage-item-with-pic {
  display: flex;
  flex-direction: column;
  padding-top: 89px;
  padding-bottom: 79px;
  height: 216px;
}

.distribution-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.distribution-form {
  display: flex;
  justify-content: center;
}

.page-footer-container {
  margin: 0 auto;
  display: flex;
  width: 1060px;
  align-content: center;
  padding-left: 70px;
  padding-right: 70px;
}

.distribution-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 28px;
  padding-bottom: 44px;
}

.footer-html-academy {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  line-height: 0;
}

.footer-html-academy-picture {
  display: block;
}

.footer-html-academy-pic {
  display: block;
  margin: 27px 0px 29px 0px;
  padding: 10px 10px 10px 10px;
  position: relative;
  left: 8px;


}

.advantage-number {
  margin: 0;
  font-style: normal;
}

.social-icon-svg {
  padding: 3px;
}

.footer-number {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 61px;
  margin-right: 33px;
  width: 720px;
  height: 50px;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.button-social {
  display: block;
  line-height: 0;
}

.footer-social-item {
  list-style-type: none;
  line-height: 0;
  display: block;
}

.navigation-icon {
  position: absolute;
  top: -5px;
  right: 0px;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-item {
  list-style-type: none;
}

.breadcrumbs-link {
  padding-left: 3px;
}

.breadcrumbs-item {
  list-style-type: none;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
  font-size: 16px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inner-header-title {
  padding-top: 35px;
  margin: 0px 0 0px 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  display: block;
}

.main-inner-filter {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  height: 408px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/largepic/catalog-background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
  bottom: 5px;
  z-index: 0;
}

.catalog-filter-title {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.control {
  position: relative;
  display: block;
  padding-left: 41px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:checked+.control-mark::after {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 12px;
  height: 2px;
  background-color: #000000;
  content: "";
  transform: rotate(-45deg);
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  position: absolute;
  top: 11px;
  left: 3px;
  width: 6px;
  height: 2px;
  background-color: #000000;
  content: "";
  transform: rotate(45deg);
}

.counter-container {
  position: relative;

}

.minus {
  position: absolute;
  top: 24px;
  left: 19px;
  z-index: 1;
}

.plus {
  position: absolute;
  top: 18px;
  left: 100px;
}

.tultil {
  position: absolute;
  top: 9px;
  left: -46px;
  z-index: 1;
}

.catalog-price {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 23px;
  width: 143px;
  height: 48px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);

}

.catalog-price-first {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-right: none;
}

.catalog-price-second {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-left: none;
}

.catalog-filter-price::after {
  position: absolute;
  top: 23px;
  left: 120px;
  width: 47px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  content: "";
  transform: rotate(90deg);
}

.hotel-counter {
  margin-right: 155px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.select-control-1 {
  margin-right: 81px;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  top: -4px;
}

.hotel-card {
  list-style-type: none;
  display: grid;
  grid-template-rows: 226px min-content 23px 37px 37px 4px;
  grid-template-columns: 20px 300px 20px;
  row-gap: 16px;
}

.hotel-card-link {
  padding-top: 20px;
  text-decoration: none;
  grid-column: 2/-2;
}

.hotel-card-image {
  display: block;
}


.hotel-card-title {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
}

.product-card-type {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  padding-right: 58px;
}

.pagination-link {
  display: block;
  width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-link-number {
  padding: 15px 15px;
  display: block;
}

.pagination-container-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

.hotel-on-page {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  padding-right: 2px;
  padding-top: 4px;
}

.hotel-on-page-text {
  padding: 0px 33px 0px 0px;

}

.select-control-2 {
  Width: 160px;
  Height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;

}

.footer-distribution-container {
  padding: 94px 200px;
}

.footer-distribution-catalog {
  margin: 0 auto;
  text-align: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1060px;
  height: 223px;
  display: flex;
  flex-direction: column;
  padding: 73px 200px 160px 200px;
  gap: 46px;

}

.distribution-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
  margin: 0;

}

.distribution-text-catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
}

.control-label {
  line-height: 26px;
}

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.footer-number-nolink {
  color: #000000;
  text-decoration: none;
  padding: 15px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 21px;
  display: flex;
  gap: 11px;
  position: relative;
  top: -6px;
}

.pagination {
  display: flex;
  width: 370px;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 8px;
}

.hotel-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px 20px;
}

.logo {
  padding-top: 51px;
  padding-bottom: 81px;
  display: block;
  margin: 0 auto;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-filter-group {
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  margin: 0;
  border: 0;
  padding: 0;
  inline-size: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.catalog-filter-group-3 .catalog-filter-group {

  padding: 0px 39px 0px 0px;
}


.catalog-filter {
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group-4 {
  margin-top: 60px;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-filter-group-1 .catalog-filter-group {
  height: 151px;
}

.catalog-filter-group-1 .catalog-filter-title {
  margin-bottom: 29px;
}

.catalog-filter-group-2 .catalog-filter-group {
  height: 151px;
  width: 140px;
  margin-right: 115px;
}

.catalog-filter-group-2 .catalog-filter-title {
  margin-bottom: 29px;
}

.catalog-filter-group-3 .catalog-filter-title {
  margin-bottom: 34px;
}

.catalog-filter-price {
  display: flex;
  margin-bottom: 19px;
}

.product-card-type-string-1 {
  display: flex;
  justify-content: space-between;
}

.product-card-type-string-2 {
  display: flex;
  justify-content: space-between;
}

.product-card-type-string-3 {
  display: flex;
  justify-content: space-between;
}

.hotel-card-title,
.product-card-type-string-1,
.product-card-type-string-2,
.product-card-type-string-3 {
  grid-column: 2/3;
}
